apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: results-summary-component-main-app
    newName: results-summary-component-main-app
    newTag: latest
